<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= student.age %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= student.book %>
  </p>

  <p>
    <strong>Debit:</strong>
    <%= student.debit %>
  </p>

</div>
